[user]
  name = Wellington Santos
  email = wjsantos.wj@gmail.com
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC1sG/X7pzDJXidF0n7/yX3/HXrXnoXb7tzrNZZu+sRSS/JiDrgs9XIiRIckhn11U0fDLd7930D0C4wpWnZt+cEMSAHWPvN21KjL+dqPqE4BPzgTnYALory3MfalrjuEF7x7YBbYK5ytIvSUnlysY4aQfQbqF2n2sZuvlRGKT3z500Po9bhKg5szTG43owEsfEwQIrxV26UZ1v9E2WLyAOaUeWblaOmJl19Cwc1O86q3c9x3rfBw9n/hI6WKtfLjSxkorBbCGer3KmDyFbLjulC8bBKq2Th9Ir60nAJza3Ob3o2a9Cw8k+j6Y84TrJnULe1okrEB9r9AD1mNJOo9qm7qe4jIc6UMnTSOvYRvKXGz8vpZ8uwBDOh40swa07s3wWuq5tTOYSoX/SU+gaVgIO0e3OAYbVQAATL0N0oobixlS36Lu7SSbTdVx4zMSeBDaQOpeXlMid3lNxhlmlILZTHvnM3Q0wlFokTAN5ChQAqGiOfJhTjSO+34a/vSNZaIYk=
[commit]
  gpgsign = true
[core]
  editor = vim
  excludesfile = /Users/wjsantos/.gitignore
[color]
  diff = auto
  interactive = auto
  status = auto
[alias]
  log = log --decorate
  st = status -sb
  wat = whatchanged -p --abbrev-commit --pretty=medium
  graph = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short

[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/wsantos/.ssh/allowed_signers
