[user]
  name = Wellington Santos
  email = wjsantos.wj@gmail.com
  signingkey = ssh-rsa $HOME/.ssh/id_rsa.pub
  gpgsign = true
[core]
  editor = vim
  excludesfile = /Users/wjsantos/.gitignore
[color]
  diff = auto
  interactive = auto
  status = auto
[alias]
  log = log --decorate
  st = status -sb
  wat = whatchanged -p --abbrev-commit --pretty=medium
  graph = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short

[init]
	defaultBranch = main
[gpg "ssh"]
	allowedSignersFile = /home/wsantos/.ssh/allowed_signers

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[gpg]
	format = ssh
